{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/med_index.css' %}"/>
{% endblock %}

{% block content %}

<section class="card-container">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h2>{{ med.name }}</h2>
        <a href="/meds/{{ med.id }}">
          <img class="log-icon" src="/static/images/19.png" alt="Log">
        </a>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ med.description }}</li>
        <li class="list-group-item">{{ med.num_of_doses }} total doses</li>
        <li class="list-group-item">Dose: {{ med.dose }}</li>
        <li class="list-group-item">
          {% if med.other_details %}
            {{ med.other_details }}
          {% else %}
            ''
          {% endif %}
        </li>
      </ul>
    </div>
</section>

{% endblock %}