{% extends 'base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

<section class='login-divs'>
  <div class="med-container l-div">
    <img class="med-home-img" src="{% static 'images/36.png' %}" alt="Med Log" />
  </div>
  <div class=" l-div">
    <form action="{% url 'home' %}" method="post" class='login'>
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  </div>
</section>

{% endblock %}