html {
  box-sizing: border-box
}

header {
  width: 100%;
  background: var(--nav-bg-ff);
  border-bottom: var(--borders);
}
/* 
nav {
  margin: 10px;
} */

ul {
  margin: 0;
  list-style: none;
  padding: 10px 0px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f75336;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: 16px;
}

nav li {
  padding: 5px 20px;
}

