.page-header {
  display: flex;
  flex-direction: row;
  margin: 50px 30px 30px 30px;
}

.form-icon {
  max-width: 50px;
  margin-right: 20px;
}

.btn-dark {
  margin: 30px 5px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

table {
  padding: 0;
  width: 100%;
}

th {
  text-align: left;
  padding: 6px 2px 0 0;
  vertical-align: top;
}


td > * {
  width: 85%;
  padding: 2px 4px;
}

.btn {
  align-self: flex-start;
}