.card-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card > a {
  text-decoration: none;
}
.card-header {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.two-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 30px;
  min-width: 200px;
}

.log-icon {
  max-width: 40px;
}

.btn {
  margin: 0px 10px;
  padding: 6px 12px;
  border: none;
}

.btn-danger {
  background-color: #ff6154;
}

.card-form {
  display: flex;
  flex-direction: row;
}

.log-table {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 80%;
}

.doses-left {
  text-align: center;
}